
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-weight: normal;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

p {
    font-size: 1em;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1em;
    margin: 10px 0;
    text-align: center;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
